MONGODB_URI=''
CLOUDFLARE_ACCOUNT_ID=''
CLOUDFLARE_ACCESS_ID=''
CLOUDFLARE_ACCESS_KEY=''
CLOUDFLARE_R2_BUCKET_NAME=''
R2_PUBLIC_URI=''
AUTH_SECRET='' # Added by `npx auth`. Read more: https://cli.authjs.dev
AUTH_GITHUB_ID=''
AUTH_GITHUB_SECRET=''